{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - MonsterSpace{% else %} MonsterSpace{% endif %}
{% endblock %}


{% block navbar %}
    <link href="https://fonts.cdnfonts.com/css/spooky-nightmare" rel="stylesheet">
    <nav class="navbar navbar-default">
    <h4>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}" style="color: black">Login</a>
    <a href="{{ url_for('register') }}" style="color: black">Register</a>
    {% else %}
    <a href="{{ url_for('user', user_id=current_user.id) }}" style="color: black">My Monster</a>
    <a href="{{ url_for('logout') }}" style="color: darkorange">Logout</a>
    {% endif %}
    </h4>
    <center>
    <h1 style="font-family: 'Spooky Nightmare'; font-size: 80px">MonsterSpace</h1>
    </center>
    <br><br>

    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}








